/* IMPORTS */

/* NATIVE CLASSES */

body {
    margin: 10px 0 0 0;
    padding: 0px;
    background: rgba(255, 255, 255, 1.0);
    display: flex;
    flex-direction: row;
}

body::before {
    content: "";
    height: 10px;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 75, 92, 1.0);
    top: 0;
}

@media screen and (max-width: 768px) {
    body {
      flex-wrap: wrap;
    }
  }

ul {
    padding-inline-start: 0px;
}

header {
    text-align: center;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
    text-align: center;
}

nav > ul > li {
    padding: 15px;
}

img {
    max-width: 100%;
}

main {
    padding: 15px;

}

/* CLASSES */

.sidebar {
    width: 250px;
}

.wrap {
    flex-direction: column;
}

.window {

}