/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@500&display=swap');

/* NATIVE CLASSES */

body {
    margin: 0;
    padding: 0px;
    background-color: rgb(243, 243, 243, 1.0);
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: #414141; /* Gray Not Highlighter Style */
}

@media screen and (max-width: 768px) {
    body {
      flex-wrap: wrap;
    }
  }

ul {
    padding-inline-start: 0px;
}

header {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-color: #0C0C0C;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 60px 0px;
    padding: 15px 100px 15px 450px;
}

footer {
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background-color: #0C0C0C;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 0px 60px 0px 0px;
    padding: 15px 100px 15px 450px;
}

nav > ul {
    list-style: none;
}

footer {
    text-align: center;
}

nav > ul > li {
    padding: 10px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #1A1A1A;
}

a:hover {
    text-decoration: none;
    transition: 0.2s ease-in;
    cursor: pointer;
}

h6 {
    margin: 0;
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #1A1A1A;
    font-feature-settings: 'tnum' on, 'onum' on;
}

/* CLASSES */

.sidebar {
    width: 350px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.02);
    border-radius: 0px 60px 60px 0px;
    background-color: rgb(255, 255, 255, 1.0);
}

.logotype {
    text-align: center;
    margin: 50px 0 0 0;
}

.logotype > figcaption {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin: 5px 0 0 65px;
}

.signature {
    color: #E61E1E;
}

.wrap {
    width: 100%;
    margin: 0;
    padding: 0;
}

.share__layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.share__layout > p {
    margin: 2px 0 0 10px;
}

.navbar {
    margin: 120px 0 120px 50px;
    font-family: Asap;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.expand__left{  
    display: inline-block;
}

.expand__left::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #E61E1E;
    transition: width .3s;
}

.expand__left:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar::before{
    content:'';
    width: 40px;
    height: 210px;
    /* +52.5 (~53)px for each new nav item */
    position: absolute;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 0px 25px 25px 0px;
    left: 0;
}

.navbar > ul > li::after {
    content: '';
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    left: 30px;
    margin: -22px 0 0 0;
    background: #E61E1E;
    border-radius: 10px 10px 10px 10px;
}

.navbar > ul > li:hover::after {
    display: block;
}

.contact-share {
    align-self: center;
}

.contact-share > h6 {
    margin: 0 0 10px 0;
}

.media-share {
    align-self: center;
    margin: 0 0 100px 0;
}

.media-share > a {
    padding: 15px;
}

.p__rwd {
    padding: 15px 100px 15px 450px;
}